@model TaskManagement.Models.ProjectUsersViewModel
@{
    ViewBag.Title = "AddMember";
}

<h2>Add Member to Project</h2>
<form method="post" action="/Project/AddMember">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <span class="badge">Select User</span>
    @Html.DropDownListFor(m => m.SelectedUserId, Model.UsersSelect)
    @Html.HiddenFor(m => m.ProjectId)
    <br />
    <br />
    <button class="btn btn btn-primary" type="submit">Add Member</button>
</form>
