@{
    ViewBag.Title = "Index";
}

<h2>Your Projects</h2>

@foreach (TaskManagement.Models.Project project in ViewBag.Projects)
{
    <h3>@project.Title</h3>
    <h4>@project.Description</h4>

    <form method="post" action="/Project/Delete/@project.Id">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button type="submit">Delete</button>
    </form>

    <br/>

    <form method="get" action="/Project/Edit/@project.Id">
        <button type="submit">Edit</button>
    </form>

    <br/>

    <form method="post" action="/Project/Show/@project.Id">
        <button type="submit">Show</button>
    </form>
}

<br />
<a class="btn-success" href="/Project/Create">Create new project</a>