@{
    ViewBag.Title = "Home Page";
}


@using Microsoft.AspNet.Identity


<div class="jumbotron">
    <div class="text-center">
        <h1>task management platform</h1>
        <br />
        <p class="lead">Welcome to the only productive social network. It's time to follow productive people and ship under pressure. </p>
        @if (Request.IsAuthenticated)
        {
            <p><a href="/Project/Index" class="btn btn-primary btn-lg">Let's do it! &#x1f680;</a></p>
        }
        else
        {
            <p><a href="/Account/Register" class="btn btn-primary btn-lg">Let's do it! &#x1f680;</a></p>
        }
    </div>
</div>